<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TimrCrypt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TimrCrypt.Properties.Settings>
      <setting name="s" serializeAs="String">
        <value>asf</value>
      </setting>
      <setting name="passPhrase" serializeAs="String">
        <value>t1m3ki77er</value>
      </setting>
      <setting name="saltValue" serializeAs="String">
        <value>re77ik3m1t</value>
      </setting>
      <setting name="initVector" serializeAs="String">
        <value>si2(5%)If#UaysC2</value>
      </setting>
    </TimrCrypt.Properties.Settings>
  </applicationSettings>
</configuration>