<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Logger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Logger.Properties.Settings>
            <setting name="ExceptionLogFilePath" serializeAs="String">
                <value>C:\Users\Adrian\Documents\Visual Studio 2010\Projects\Timr\LogException.txt</value>
            </setting>
        </Logger.Properties.Settings>
    </applicationSettings>
</configuration>